.dash-board {
    padding: 20px;
    display: grid;
    gap: 15px;
    animation: var(--fadeIn) 500ms;
}
.dash-board .tickets {
   display: flex;
}
.overall {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dash-board .detail {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.card--hover:hover {
    cursor: pointer;
    color: var(--white);
    background-color: var(--primary);
}
.dash-board .detail:hover .detail__number {
    color: var(--white);
}

.detail__number {
    padding-block: 8px;
    color: var(--primary);
}

.detail__des {
    display: flex;
}
.detail__icon {
    margin-right: 8px;
}
.detail__des > span {
    font-size: 18px;
}
.info-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.dash-board .chart-container, .borrowed-tickets {
    margin-top: 24px;
}
.dash-board .chart-container {
    width: 60%;
}
.borrowed-tickets {
    margin-left: 8px;
    max-height: 50vh;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.borrowed-tickets .ticket {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    animation: show-borrowed-ticket var(--i);
}
@keyframes show-borrowed-ticket {
    from {
        transform: translateX(100%);
        opacity: 0;
    } to {
          transform: translateX(0);
          opacity: 1;
      }

}
.borrowed-tickets .ticket + .ticket {
   margin-top: 12px;
}
.search-box {
    display: flex;
    border: 1px solid var(--grey);
    padding: 8px 12px;
    border-radius: 25px;
    width: 50%;
    align-items: center;
    margin-right: 24px;
    transition: border 300ms linear;
}
.search-box > input {
    width: 100%;
    border: none;
    outline: none;
    padding-left: 8px;
}
.search__icon {
    transition: color 300ms;
    font-size: 18px;
    color: #e3e3e3;
}
