USE [master]
GO
/****** Object:  Database [QLVT]    Script Date: 21/06/2022 15:28:26 ******/
CREATE DATABASE [QLVT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLVT', FILENAME = N'D:\SQL2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLVT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLVT_log', FILENAME = N'D:\SQL2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLVT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLVT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLVT]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUCHUYENKHO]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUCHUYENKHO](
	[IDCTPCK] [int] IDENTITY(1,1) NOT NULL,
	[MAVATTU] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[MAPHIEUCHUYENKHO] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUCHUYENKHO] PRIMARY KEY CLUSTERED 
(
	[MAVATTU] ASC,
	[MAPHIEUCHUYENKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUMUON]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUMUON](
	[IDCTPM] [int] IDENTITY(1,1) NOT NULL,
	[MAVATTU] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[MAPHIEUMUON] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MAVATTU] ASC,
	[MAPHIEUMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MAVATTU] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIATHANH] [int] NOT NULL,
	[MAPHIEUNHAP] [int] NOT NULL,
	[IDCTPN] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MAVATTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUTRA]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUTRA](
	[IDCTPT] [int] IDENTITY(1,1) NOT NULL,
	[MAVATTU] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[MAPHIEUTRA] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUTRA] PRIMARY KEY CLUSTERED 
(
	[MAVATTU] ASC,
	[MAPHIEUTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUXUAT]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUXUAT](
	[IDCTPX] [int] IDENTITY(1,1) NOT NULL,
	[MAVATTU] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[MAPHIEUXUAT] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAVATTU] ASC,
	[MAPHIEUXUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGNHAN]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGNHAN](
	[MACONGNHAN] [int] IDENTITY(1,1) NOT NULL,
	[TENCONGNHAN] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[NGAYSINH] [datetime] NULL,
	[TRANGTHAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACONGNHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGTRINH]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTRINH](
	[MACONGTRINH] [int] IDENTITY(1,1) NOT NULL,
	[TENCONGTRINH] [nvarchar](50) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACONGTRINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADANHMUC] [int] IDENTITY(1,1) NOT NULL,
	[TENDANHMUC] [nvarchar](50) NOT NULL,
	[MAKHUVUC] [int] NULL,
	[TRANGTHAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [int] IDENTITY(1,1) NOT NULL,
	[TENKHO] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUVUC](
	[MAKHUVUC] [int] IDENTITY(1,1) NOT NULL,
	[TENKHUVUC] [nvarchar](50) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHUVUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACUNGCAP] [int] IDENTITY(1,1) NOT NULL,
	[TENNHACUNGCAP] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[TRANGTHAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[NGAYSINH] [datetime] NULL,
	[TRANGTHAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUCHUYENKHO]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUCHUYENKHO](
	[MAPHIEUCHUYENKHO] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [int] NULL,
	[MAKHO] [int] NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[MATRANGTHAI] [int] NULL,
	[GHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUCHUYENKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MAPHIEUMUON] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [int] NULL,
	[MACONGNHAN] [int] NULL,
	[NGAYMUON] [datetime] NOT NULL,
	[NGAYTRA] [datetime] NOT NULL,
	[MACONGTRINH] [int] NULL,
	[MATRANGTHAI] [int] NULL,
	[GHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [int] NULL,
	[MANHACUNGCAP] [int] NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[TONGTIEN] [bigint] NOT NULL,
	[MATRANGTHAI] [int] NULL,
	[GHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTRA]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRA](
	[MAPHIEUTRA] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [int] NULL,
	[MACONGNHAN] [int] NULL,
	[MAPHIEUMUON] [int] NULL,
	[NGAYTRA] [datetime] NOT NULL,
	[MATRANGTHAI] [int] NULL,
	[GHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPHIEUXUAT] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [int] NULL,
	[MACONGNHAN] [int] NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[MACONGTRINH] [int] NULL,
	[MATRANGTHAI] [int] NULL,
	[GHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUXUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[EMAIL] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](100) NOT NULL,
	[MAVAITRO] [int] NULL,
	[MANHANVIEN] [int] NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK__TAIKHOAN__161CF725797B3481] PRIMARY KEY CLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAIPHIEU]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAIPHIEU](
	[MATRANGTHAI] [int] IDENTITY(1,1) NOT NULL,
	[TENTRANGTHAI] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[MAVAITRO] [int] IDENTITY(1,1) NOT NULL,
	[TENVAITRO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVAITRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVATTU] [int] IDENTITY(1,1) NOT NULL,
	[TENVATTU] [nvarchar](50) NOT NULL,
	[HINHANH] [nvarchar](max) NULL,
	[DONVI] [nvarchar](30) NULL,
	[MADANHMUC] [int] NULL,
	[NHASANXUAT] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVATTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUCHUYENKHO] ON 

INSERT [dbo].[CHITIETPHIEUCHUYENKHO] ([IDCTPCK], [MAVATTU], [SOLUONG], [MAPHIEUCHUYENKHO]) VALUES (1, 1, 50, 10)
INSERT [dbo].[CHITIETPHIEUCHUYENKHO] ([IDCTPCK], [MAVATTU], [SOLUONG], [MAPHIEUCHUYENKHO]) VALUES (2, 1, 1, 11)
INSERT [dbo].[CHITIETPHIEUCHUYENKHO] ([IDCTPCK], [MAVATTU], [SOLUONG], [MAPHIEUCHUYENKHO]) VALUES (5, 1, 1, 12)
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUCHUYENKHO] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUMUON] ON 

INSERT [dbo].[CHITIETPHIEUMUON] ([IDCTPM], [MAVATTU], [SOLUONG], [MAPHIEUMUON]) VALUES (1, 1, 1, 14)
INSERT [dbo].[CHITIETPHIEUMUON] ([IDCTPM], [MAVATTU], [SOLUONG], [MAPHIEUMUON]) VALUES (2, 1, 1, 15)
INSERT [dbo].[CHITIETPHIEUMUON] ([IDCTPM], [MAVATTU], [SOLUONG], [MAPHIEUMUON]) VALUES (3, 1, 1, 16)
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUMUON] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUNHAP] ON 

INSERT [dbo].[CHITIETPHIEUNHAP] ([MAVATTU], [SOLUONG], [GIATHANH], [MAPHIEUNHAP], [IDCTPN]) VALUES (1, 1, 1, 32, 1)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAVATTU], [SOLUONG], [GIATHANH], [MAPHIEUNHAP], [IDCTPN]) VALUES (1, 1, 13, 33, 2)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAVATTU], [SOLUONG], [GIATHANH], [MAPHIEUNHAP], [IDCTPN]) VALUES (2, 1, 13, 33, 3)
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUNHAP] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUTRA] ON 

INSERT [dbo].[CHITIETPHIEUTRA] ([IDCTPT], [MAVATTU], [SOLUONG], [MAPHIEUTRA]) VALUES (4, 1, 1, 5)
INSERT [dbo].[CHITIETPHIEUTRA] ([IDCTPT], [MAVATTU], [SOLUONG], [MAPHIEUTRA]) VALUES (5, 1, 11, 6)
INSERT [dbo].[CHITIETPHIEUTRA] ([IDCTPT], [MAVATTU], [SOLUONG], [MAPHIEUTRA]) VALUES (6, 35, 10, 8)
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUTRA] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUXUAT] ON 

INSERT [dbo].[CHITIETPHIEUXUAT] ([IDCTPX], [MAVATTU], [SOLUONG], [MAPHIEUXUAT]) VALUES (1, 1, 11, 7)
INSERT [dbo].[CHITIETPHIEUXUAT] ([IDCTPX], [MAVATTU], [SOLUONG], [MAPHIEUXUAT]) VALUES (2, 1, 11, 8)
INSERT [dbo].[CHITIETPHIEUXUAT] ([IDCTPX], [MAVATTU], [SOLUONG], [MAPHIEUXUAT]) VALUES (3, 1, 1, 9)
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUXUAT] OFF
GO
SET IDENTITY_INSERT [dbo].[CONGNHAN] ON 

INSERT [dbo].[CONGNHAN] ([MACONGNHAN], [TENCONGNHAN], [SDT], [DIACHI], [NGAYSINH], [TRANGTHAI]) VALUES (1, N'Nguyễn Đình T', N'696969696', N'69 đường D2', NULL, 1)
INSERT [dbo].[CONGNHAN] ([MACONGNHAN], [TENCONGNHAN], [SDT], [DIACHI], [NGAYSINH], [TRANGTHAI]) VALUES (2, N'Lê Ngọc V', N'787878787', N'69 đường D1', CAST(N'2022-06-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[CONGNHAN] ([MACONGNHAN], [TENCONGNHAN], [SDT], [DIACHI], [NGAYSINH], [TRANGTHAI]) VALUES (3, N'Trần Thị L', N'191919191', N'21 Lê Văn Việt', CAST(N'2022-06-15T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CONGNHAN] OFF
GO
SET IDENTITY_INSERT [dbo].[CONGTRINH] ON 

INSERT [dbo].[CONGTRINH] ([MACONGTRINH], [TENCONGTRINH], [TRANGTHAI]) VALUES (2, N'Landmark 81', 1)
INSERT [dbo].[CONGTRINH] ([MACONGTRINH], [TENCONGTRINH], [TRANGTHAI]) VALUES (3, N'Bitexco', 1)
INSERT [dbo].[CONGTRINH] ([MACONGTRINH], [TENCONGTRINH], [TRANGTHAI]) VALUES (4, N'Vinhome Q9', 1)
SET IDENTITY_INSERT [dbo].[CONGTRINH] OFF
GO
SET IDENTITY_INSERT [dbo].[DANHMUC] ON 

INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC], [MAKHUVUC], [TRANGTHAI]) VALUES (1, N'Xi măng', 3, 1)
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC], [MAKHUVUC], [TRANGTHAI]) VALUES (3, N'Cát', 3, 1)
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC], [MAKHUVUC], [TRANGTHAI]) VALUES (4, N'Sỏi', 3, 1)
SET IDENTITY_INSERT [dbo].[DANHMUC] OFF
GO
SET IDENTITY_INSERT [dbo].[KHO] ON 

INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI]) VALUES (1, N'Kho Q9', N'97 Man Thiện')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI]) VALUES (2, N'Kho Thủ Đức', N'36 Võ Văn Ngân')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI]) VALUES (3, N'Kho Bình Thạnh', N'36 Nguyễn Gia Trí')
SET IDENTITY_INSERT [dbo].[KHO] OFF
GO
SET IDENTITY_INSERT [dbo].[KHUVUC] ON 

INSERT [dbo].[KHUVUC] ([MAKHUVUC], [TENKHUVUC], [TRANGTHAI]) VALUES (1, N'Khu dụng cụ', 1)
INSERT [dbo].[KHUVUC] ([MAKHUVUC], [TENKHUVUC], [TRANGTHAI]) VALUES (2, N'Khu máy móc', 1)
INSERT [dbo].[KHUVUC] ([MAKHUVUC], [TENKHUVUC], [TRANGTHAI]) VALUES (3, N'Khu vật liệu thô', 1)
SET IDENTITY_INSERT [dbo].[KHUVUC] OFF
GO
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [SDT], [DIACHI], [TRANGTHAI]) VALUES (1, N'VLXD ABC', N'000000001', N'97 Man Thiện', 1)
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [SDT], [DIACHI], [TRANGTHAI]) VALUES (4, N'Nhôm kinh XYZ', N'000000002', N'66 Nguyễn Hữu Cảnh', 1)
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [SDT], [DIACHI], [TRANGTHAI]) VALUES (5, N'Đại lý VL123', N'000000003', N'66 Nguyễn Hữu Thọ', 1)
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TEN], [SDT], [DIACHI], [NGAYSINH], [TRANGTHAI]) VALUES (1, N'Nam Vip Pro', N'00000', N'97 Man Thiện', CAST(N'2022-06-09T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TEN], [SDT], [DIACHI], [NGAYSINH], [TRANGTHAI]) VALUES (2, N'Nguyễn Thị AA', N'0000011', N'67 Man Thiện 111', CAST(N'2020-02-17T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TEN], [SDT], [DIACHI], [NGAYSINH], [TRANGTHAI]) VALUES (3, N'Nguyễn Văn B', N'000002', N'66 Man Thiện 1', NULL, 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUCHUYENKHO] ON 

INSERT [dbo].[PHIEUCHUYENKHO] ([MAPHIEUCHUYENKHO], [MANHANVIEN], [MAKHO], [THOIGIAN], [MATRANGTHAI], [GHICHU]) VALUES (1, 1, 1, CAST(N'2022-01-01T00:00:00.000' AS DateTime), 1, N'abc')
INSERT [dbo].[PHIEUCHUYENKHO] ([MAPHIEUCHUYENKHO], [MANHANVIEN], [MAKHO], [THOIGIAN], [MATRANGTHAI], [GHICHU]) VALUES (2, 1, 1, CAST(N'2022-04-01T00:00:00.000' AS DateTime), 1, N'1')
INSERT [dbo].[PHIEUCHUYENKHO] ([MAPHIEUCHUYENKHO], [MANHANVIEN], [MAKHO], [THOIGIAN], [MATRANGTHAI], [GHICHU]) VALUES (4, 1, 1, CAST(N'2022-06-01T00:00:00.000' AS DateTime), 1, N'1')
SET IDENTITY_INSERT [dbo].[PHIEUCHUYENKHO] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUMUON] ON 

INSERT [dbo].[PHIEUMUON] ([MAPHIEUMUON], [MANHANVIEN], [MACONGNHAN], [NGAYMUON], [NGAYTRA], [MACONGTRINH], [MATRANGTHAI], [GHICHU]) VALUES (5, 1, 1, CAST(N'2022-06-01T00:00:00.000' AS DateTime), CAST(N'2022-06-10T00:00:00.000' AS DateTime), 2, 1, N'')
INSERT [dbo].[PHIEUMUON] ([MAPHIEUMUON], [MANHANVIEN], [MACONGNHAN], [NGAYMUON], [NGAYTRA], [MACONGTRINH], [MATRANGTHAI], [GHICHU]) VALUES (6, 1, 1, CAST(N'2022-06-01T00:00:00.000' AS DateTime), CAST(N'2022-06-11T00:00:00.000' AS DateTime), 2, 1, NULL)
INSERT [dbo].[PHIEUMUON] ([MAPHIEUMUON], [MANHANVIEN], [MACONGNHAN], [NGAYMUON], [NGAYTRA], [MACONGTRINH], [MATRANGTHAI], [GHICHU]) VALUES (7, 1, 1, CAST(N'2022-04-01T00:00:00.000' AS DateTime), CAST(N'2022-06-11T00:00:00.000' AS DateTime), 2, 1, NULL)
SET IDENTITY_INSERT [dbo].[PHIEUMUON] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [MANHANVIEN], [MANHACUNGCAP], [THOIGIAN], [TONGTIEN], [MATRANGTHAI], [GHICHU]) VALUES (1, 1, 1, CAST(N'2022-06-21T00:00:00.000' AS DateTime), 10000, 1, NULL)
INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [MANHANVIEN], [MANHACUNGCAP], [THOIGIAN], [TONGTIEN], [MATRANGTHAI], [GHICHU]) VALUES (2, 1, 1, CAST(N'2022-06-22T00:00:00.000' AS DateTime), 10000, 1, NULL)
INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [MANHANVIEN], [MANHACUNGCAP], [THOIGIAN], [TONGTIEN], [MATRANGTHAI], [GHICHU]) VALUES (4, 1, 1, CAST(N'2022-06-01T00:00:00.000' AS DateTime), 101001, 1, NULL)
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUTRA] ON 

INSERT [dbo].[PHIEUTRA] ([MAPHIEUTRA], [MANHANVIEN], [MACONGNHAN], [MAPHIEUMUON], [NGAYTRA], [MATRANGTHAI], [GHICHU]) VALUES (1, 1, 1, 5, CAST(N'2022-06-30T00:00:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[PHIEUTRA] ([MAPHIEUTRA], [MANHANVIEN], [MACONGNHAN], [MAPHIEUMUON], [NGAYTRA], [MATRANGTHAI], [GHICHU]) VALUES (2, 1, 1, 6, CAST(N'2022-06-30T00:00:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[PHIEUTRA] ([MAPHIEUTRA], [MANHANVIEN], [MACONGNHAN], [MAPHIEUMUON], [NGAYTRA], [MATRANGTHAI], [GHICHU]) VALUES (3, 1, 1, 7, CAST(N'2022-06-30T00:00:00.000' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[PHIEUTRA] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUXUAT] ON 

INSERT [dbo].[PHIEUXUAT] ([MAPHIEUXUAT], [MANHANVIEN], [MACONGNHAN], [THOIGIAN], [MACONGTRINH], [MATRANGTHAI], [GHICHU]) VALUES (1, 1, 1, CAST(N'2022-06-01T00:00:00.000' AS DateTime), 2, 1, NULL)
INSERT [dbo].[PHIEUXUAT] ([MAPHIEUXUAT], [MANHANVIEN], [MACONGNHAN], [THOIGIAN], [MACONGTRINH], [MATRANGTHAI], [GHICHU]) VALUES (3, 1, 1, CAST(N'2022-06-01T00:00:00.000' AS DateTime), 2, 1, NULL)
INSERT [dbo].[PHIEUXUAT] ([MAPHIEUXUAT], [MANHANVIEN], [MACONGNHAN], [THOIGIAN], [MACONGTRINH], [MATRANGTHAI], [GHICHU]) VALUES (4, 1, 1, CAST(N'2022-06-01T00:00:00.000' AS DateTime), 2, 1, NULL)
SET IDENTITY_INSERT [dbo].[PHIEUXUAT] OFF
GO
INSERT [dbo].[TAIKHOAN] ([EMAIL], [MATKHAU], [MAVAITRO], [MANHANVIEN], [TRANGTHAI]) VALUES (N'a@a.com', N'$2a$10$38re8uZAxAOTN3PEqGltZOHHqO53zqH.ApHCBQ1/eYkpzHHKWboTG', 1, 1, 0)
INSERT [dbo].[TAIKHOAN] ([EMAIL], [MATKHAU], [MAVAITRO], [MANHANVIEN], [TRANGTHAI]) VALUES (N'abc@a.com', N'$2a$10$Grzq84wUYfVHAADe8ra8ZeH/dtkNeMsC0d8XHk3GX7mG87ouNddUa', 1, 1025, 0)
INSERT [dbo].[TAIKHOAN] ([EMAIL], [MATKHAU], [MAVAITRO], [MANHANVIEN], [TRANGTHAI]) VALUES (N'abc@acc.com', N'$2a$10$4iYfN8AuNKmAWm4be0A50uQ80m5nniT74sArmP8Tx2rXjuhGJcCFm', 2, 1018, 0)
GO
SET IDENTITY_INSERT [dbo].[TRANGTHAIPHIEU] ON 

INSERT [dbo].[TRANGTHAIPHIEU] ([MATRANGTHAI], [TENTRANGTHAI]) VALUES (4, N'Chưa hoàn thành')
INSERT [dbo].[TRANGTHAIPHIEU] ([MATRANGTHAI], [TENTRANGTHAI]) VALUES (2, N'Chưa trả hết')
INSERT [dbo].[TRANGTHAIPHIEU] ([MATRANGTHAI], [TENTRANGTHAI]) VALUES (1, N'Đã hoàn thành')
SET IDENTITY_INSERT [dbo].[TRANGTHAIPHIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[VAITRO] ON 

INSERT [dbo].[VAITRO] ([MAVAITRO], [TENVAITRO]) VALUES (2, N'NHANVIEN')
INSERT [dbo].[VAITRO] ([MAVAITRO], [TENVAITRO]) VALUES (1, N'QUANLY')
SET IDENTITY_INSERT [dbo].[VAITRO] OFF
GO
SET IDENTITY_INSERT [dbo].[VATTU] ON 

INSERT [dbo].[VATTU] ([MAVATTU], [TENVATTU], [HINHANH], [DONVI], [MADANHMUC], [NHASANXUAT], [SOLUONG], [TRANGTHAI]) VALUES (1, N'Xi măng Bỉm Sơn', NULL, N'bao', 1, N'Bỉm Sơn', 1000, 1)
INSERT [dbo].[VATTU] ([MAVATTU], [TENVATTU], [HINHANH], [DONVI], [MADANHMUC], [NHASANXUAT], [SOLUONG], [TRANGTHAI]) VALUES (2, N'Xi măng Sông Gianh', NULL, N'bao', 1, N'Sông Gianh', 1000, 1)
INSERT [dbo].[VATTU] ([MAVATTU], [TENVATTU], [HINHANH], [DONVI], [MADANHMUC], [NHASANXUAT], [SOLUONG], [TRANGTHAI]) VALUES (3, N'Xi măng XYZ', NULL, N'bao', 1, N'NSX XYZ', 1000, 1)
SET IDENTITY_INSERT [dbo].[VATTU] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CONGNHAN__13A4884EB1DCAC61]    Script Date: 21/06/2022 15:28:27 ******/
ALTER TABLE [dbo].[CONGNHAN] ADD UNIQUE NONCLUSTERED 
(
	[TENCONGNHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CONGTRIN__0C5F4FFF3C614787]    Script Date: 21/06/2022 15:28:27 ******/
ALTER TABLE [dbo].[CONGTRINH] ADD UNIQUE NONCLUSTERED 
(
	[TENCONGTRINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHO__E1C64EC578902806]    Script Date: 21/06/2022 15:28:27 ******/
ALTER TABLE [dbo].[KHO] ADD UNIQUE NONCLUSTERED 
(
	[TENKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHUVUC__9752807955AC1EAF]    Script Date: 21/06/2022 15:28:27 ******/
ALTER TABLE [dbo].[KHUVUC] ADD UNIQUE NONCLUSTERED 
(
	[TENKHUVUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHACUNGC__337D65E17116E6AB]    Script Date: 21/06/2022 15:28:27 ******/
ALTER TABLE [dbo].[NHACUNGCAP] ADD UNIQUE NONCLUSTERED 
(
	[TENNHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TRANGTHA__A9622C0D64D06173]    Script Date: 21/06/2022 15:28:27 ******/
ALTER TABLE [dbo].[TRANGTHAIPHIEU] ADD UNIQUE NONCLUSTERED 
(
	[TENTRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VAITRO__ED164845FA5E533A]    Script Date: 21/06/2022 15:28:27 ******/
ALTER TABLE [dbo].[VAITRO] ADD UNIQUE NONCLUSTERED 
(
	[TENVAITRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETPHIEUCHUYENKHO]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETPH__MAPHI__6D0D32F4] FOREIGN KEY([MAPHIEUCHUYENKHO])
REFERENCES [dbo].[PHIEUCHUYENKHO] ([MAPHIEUCHUYENKHO])
GO
ALTER TABLE [dbo].[CHITIETPHIEUCHUYENKHO] CHECK CONSTRAINT [FK__CHITIETPH__MAPHI__6D0D32F4]
GO
ALTER TABLE [dbo].[CHITIETPHIEUCHUYENKHO]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETPH__MAVAT__6C190EBB] FOREIGN KEY([MAVATTU])
REFERENCES [dbo].[VATTU] ([MAVATTU])
GO
ALTER TABLE [dbo].[CHITIETPHIEUCHUYENKHO] CHECK CONSTRAINT [FK__CHITIETPH__MAVAT__6C190EBB]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETPH__MAPHI__5CD6CB2B] FOREIGN KEY([MAPHIEUMUON])
REFERENCES [dbo].[PHIEUMUON] ([MAPHIEUMUON])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK__CHITIETPH__MAPHI__5CD6CB2B]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETPH__MAVAT__5BE2A6F2] FOREIGN KEY([MAVATTU])
REFERENCES [dbo].[VATTU] ([MAVATTU])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK__CHITIETPH__MAVAT__5BE2A6F2]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETPH__MAPHI__5441852A] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK__CHITIETPH__MAPHI__5441852A]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETPH__MAVAT__534D60F1] FOREIGN KEY([MAVATTU])
REFERENCES [dbo].[VATTU] ([MAVATTU])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK__CHITIETPH__MAVAT__534D60F1]
GO
ALTER TABLE [dbo].[CHITIETPHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETPH__MAPHI__656C112C] FOREIGN KEY([MAPHIEUTRA])
REFERENCES [dbo].[PHIEUTRA] ([MAPHIEUTRA])
GO
ALTER TABLE [dbo].[CHITIETPHIEUTRA] CHECK CONSTRAINT [FK__CHITIETPH__MAPHI__656C112C]
GO
ALTER TABLE [dbo].[CHITIETPHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETPH__MAVAT__6477ECF3] FOREIGN KEY([MAVATTU])
REFERENCES [dbo].[VATTU] ([MAVATTU])
GO
ALTER TABLE [dbo].[CHITIETPHIEUTRA] CHECK CONSTRAINT [FK__CHITIETPH__MAVAT__6477ECF3]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETPH__MAPHI__4CA06362] FOREIGN KEY([MAPHIEUXUAT])
REFERENCES [dbo].[PHIEUXUAT] ([MAPHIEUXUAT])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK__CHITIETPH__MAPHI__4CA06362]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETPH__MAVAT__4BAC3F29] FOREIGN KEY([MAVATTU])
REFERENCES [dbo].[VATTU] ([MAVATTU])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK__CHITIETPH__MAVAT__4BAC3F29]
GO
ALTER TABLE [dbo].[DANHMUC]  WITH CHECK ADD FOREIGN KEY([MAKHUVUC])
REFERENCES [dbo].[KHUVUC] ([MAKHUVUC])
GO
ALTER TABLE [dbo].[PHIEUCHUYENKHO]  WITH CHECK ADD FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEUCHUYENKHO]  WITH CHECK ADD FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUCHUYENKHO]  WITH CHECK ADD FOREIGN KEY([MATRANGTHAI])
REFERENCES [dbo].[TRANGTHAIPHIEU] ([MATRANGTHAI])
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD FOREIGN KEY([MACONGNHAN])
REFERENCES [dbo].[CONGNHAN] ([MACONGNHAN])
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD FOREIGN KEY([MACONGTRINH])
REFERENCES [dbo].[CONGTRINH] ([MACONGTRINH])
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD FOREIGN KEY([MATRANGTHAI])
REFERENCES [dbo].[TRANGTHAIPHIEU] ([MATRANGTHAI])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MANHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACUNGCAP])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MATRANGTHAI])
REFERENCES [dbo].[TRANGTHAIPHIEU] ([MATRANGTHAI])
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD FOREIGN KEY([MACONGNHAN])
REFERENCES [dbo].[CONGNHAN] ([MACONGNHAN])
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD FOREIGN KEY([MAPHIEUMUON])
REFERENCES [dbo].[PHIEUMUON] ([MAPHIEUMUON])
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD FOREIGN KEY([MATRANGTHAI])
REFERENCES [dbo].[TRANGTHAIPHIEU] ([MATRANGTHAI])
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([MACONGNHAN])
REFERENCES [dbo].[CONGNHAN] ([MACONGNHAN])
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([MACONGTRINH])
REFERENCES [dbo].[CONGTRINH] ([MACONGTRINH])
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([MATRANGTHAI])
REFERENCES [dbo].[TRANGTHAIPHIEU] ([MATRANGTHAI])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK__TAIKHOAN__MANHAN__2B3F6F97] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK__TAIKHOAN__MANHAN__2B3F6F97]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK__TAIKHOAN__MAVAIT__2A4B4B5E] FOREIGN KEY([MAVAITRO])
REFERENCES [dbo].[VAITRO] ([MAVAITRO])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK__TAIKHOAN__MAVAIT__2A4B4B5E]
GO
ALTER TABLE [dbo].[VATTU]  WITH CHECK ADD FOREIGN KEY([MADANHMUC])
REFERENCES [dbo].[DANHMUC] ([MADANHMUC])
GO
/****** Object:  StoredProcedure [dbo].[sp_getTopVatTuNhapTrongThang]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_getTopVatTuNhapTrongThang]
(@num smallint, @m varchar(02), @y varchar(4))
as
begin
	select top (@num) MAVATTU, SOLUONG
	from(
		select MAVATTU, SUM(SOLUONG) as SOLUONG
		from(
			select VATTU.MAVATTU as MAVATTU, CHITIETPHIEUNHAP.SOLUONG as SOLUONG
			from VATTU
			inner join CHITIETPHIEUNHAP on VATTU.MAVATTU = CHITIETPHIEUNHAP.MAVATTU
			inner join PHIEUNHAP on CHITIETPHIEUNHAP.MAPHIEUNHAP = PHIEUNHAP.MAPHIEUNHAP
			where YEAR(THOIGIAN) = @y and MONTH(THOIGIAN) = @m
		) as s
		group by MAVATTU
	) as s
	order by SOLUONG desc
end
GO
/****** Object:  StoredProcedure [dbo].[sp_getTopVatTuXuatTrongThang]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_getTopVatTuXuatTrongThang]
(@num smallint, @m varchar(02), @y varchar(4))
as
begin
	select top (@num) MAVATTU, SOLUONG
	from(
		select MAVATTU, SUM(SOLUONG) as SOLUONG
		from(
			select VATTU.MAVATTU as MAVATTU, CHITIETPHIEUXUAT.SOLUONG as SOLUONG
			from VATTU
			inner join CHITIETPHIEUXUAT on VATTU.MAVATTU = CHITIETPHIEUXUAT.MAVATTU
			inner join PHIEUXUAT on CHITIETPHIEUXUAT.MAPHIEUXUAT = PHIEUXUAT.MAPHIEUXUAT
			where YEAR(THOIGIAN) = @y and MONTH(THOIGIAN) = @m
		) as s
		group by MAVATTU
	) as s
	order by SOLUONG desc
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SoLuongPhieuChuyenKhoTrongThang]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SoLuongPhieuChuyenKhoTrongThang]
(@m varchar(02), @y varchar(4))
AS
	select number=count(*) from PHIEUCHUYENKHO
	where YEAR(THOIGIAN) = @y and MONTH(THOIGIAN) = @m

GO
/****** Object:  StoredProcedure [dbo].[sp_SoLuongPhieuChuyenKhoTrongThangNhanVien]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_SoLuongPhieuChuyenKhoTrongThangNhanVien]
(@m varchar(02), @y varchar(4), @id int)
AS
	select count(*) as number from PHIEUCHUYENKHO
	where YEAR(THOIGIAN) = @y and MONTH(THOIGIAN) = @m and @id = PHIEUCHUYENKHO.MANHANVIEN
GO
/****** Object:  StoredProcedure [dbo].[sp_SoLuongPhieuMuonTrongThang]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SoLuongPhieuMuonTrongThang]
(@m int, @y int)
AS
	select number=count(*) from PHIEUMUON
	where YEAR(NGAYMUON) = @y and MONTH(NGAYMUON) = @m
GO
/****** Object:  StoredProcedure [dbo].[sp_SoLuongPhieuMuonTrongThangNhanVien]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_SoLuongPhieuMuonTrongThangNhanVien]
(@m varchar(02), @y varchar(4), @id int)
AS
	select count(*) as number from PHIEUMUON
	where YEAR(NGAYMUON) = @y and MONTH(NGAYMUON) = @m and @id = PHIEUMUON.MANHANVIEN
GO
/****** Object:  StoredProcedure [dbo].[sp_SoLuongPhieuNhapTrongThang]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_SoLuongPhieuNhapTrongThang]
(@m varchar(02), @y varchar(4))
AS
	select number=count(*) from PHIEUNHAP
	where YEAR(THOIGIAN) = @y and MONTH(THOIGIAN) = @m
GO
/****** Object:  StoredProcedure [dbo].[sp_SoLuongPhieuNhapTrongThangNhanVien]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_SoLuongPhieuNhapTrongThangNhanVien]
(@m varchar(02), @y varchar(4), @id int)
AS
	select count(*) as number from PHIEUNHAP
	where YEAR(THOIGIAN) = @y and MONTH(THOIGIAN) = @m and @id = PHIEUNHAP.MANHANVIEN
GO
/****** Object:  StoredProcedure [dbo].[sp_SoLuongPhieuTraTrongThang]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SoLuongPhieuTraTrongThang]
(@m varchar(02), @y varchar(4))
AS
	select number=count(*) from PHIEUTRA
	where YEAR(NGAYTRA) = @y and MONTH(NGAYTRA) = @m

GO
/****** Object:  StoredProcedure [dbo].[sp_SoLuongPhieuTraTrongThangNhanVien]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_SoLuongPhieuTraTrongThangNhanVien]
(@m varchar(02), @y varchar(4), @id int)
AS
	select count(*) as number from PHIEUTRA
	where YEAR(NGAYTRA) = @y and MONTH(NGAYTRA) = @m and @id = PHIEUTRA.MANHANVIEN
GO
/****** Object:  StoredProcedure [dbo].[sp_SoLuongPhieuXuatTrongThang]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SoLuongPhieuXuatTrongThang]
(@m varchar(02), @y varchar(4))
AS
	select number=count(*) from PHIEUXUAT
	where YEAR(THOIGIAN) = @y and MONTH(THOIGIAN) = @m


GO
/****** Object:  StoredProcedure [dbo].[sp_SoLuongPhieuXuatTrongThangNhanVien]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_SoLuongPhieuXuatTrongThangNhanVien]
(@m varchar(02), @y varchar(4), @id int)
AS
	select count(*) as number from PHIEUXUAT
	where YEAR(THOIGIAN) = @y and MONTH(THOIGIAN) = @m and @id = PHIEUXUAT.MANHANVIEN
GO
/****** Object:  StoredProcedure [dbo].[sp_TimCongNhan]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc  [dbo].[sp_TimCongNhan]
(@key nvarchar(50))
as 
begin
	select * from CONGNHAN
	where (CONGNHAN.TENCONGNHAN like '%' + @key + '%') and CONGNHAN.TRANGTHAI = 1
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimCongTrinh]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc  [dbo].[sp_TimCongTrinh]
(@key nvarchar(50))
as 
begin
	select * from CONGTRINH
	where (CONGTRINH.TENCONGTRINH like '%' + @key + '%') and CONGTRINH.TRANGTHAI = 1
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimDanhMuc]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc  [dbo].[sp_TimDanhMuc]
(@key nvarchar(50))
as 
begin
	select * from DANHMUC
	inner join KHUVUC 
	on DANHMUC.MAKHUVUC = KHUVUC.MAKHUVUC
	where (DANHMUC.TENDANHMUC like '%' + @key + '%' or KHUVUC.TENKHUVUC like '%' + @key + '%') and DANHMUC.TRANGTHAI = 1
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKho]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc  [dbo].[sp_TimKho]
(@key nvarchar(50))
as 
begin
	select * from KHO
	where (KHO.TENKHO like '%' + @key + '%')
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKhuVuc]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc  [dbo].[sp_TimKhuVuc]
(@key nvarchar(50))
as 
begin
	select * from KHUVUC
	where TRANGTHAI = 1 AND TENKHUVUC like '%' + @key + '%'
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimNhaCungCap]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc  [dbo].[sp_TimNhaCungCap]
(@key nvarchar(50))
as 
begin
	select * from NHACUNGCAP
	where TRANGTHAI = 1 AND TENNHACUNGCAP like '%' + @key + '%' 
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimNhanVien]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc  [dbo].[sp_TimNhanVien]
(@key nvarchar(50))
as 
begin
	select * from NHANVIEN
	where (NHANVIEN.TEN like '%' + @key + '%') and NHANVIEN.TRANGTHAI = 1
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimTaiKhoan]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_TimTaiKhoan] @key nvarchar(50)
as
begin
	select TK.* from (select * FROM TAIKHOAN WHERE TRANGTHAI = 1) TK
	inner join (select TEN, MANHANVIEN from NHANVIEN WHERE TRANGTHAI = 1) NV 
	on NV.MANHANVIEN = TK.MANHANVIEN 
	where (EMAIL like '%' + @key + '%' OR TEN like '%' + @key + '%')
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimVatTu]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc  [dbo].[sp_TimVatTu]
(@key nvarchar(50))
as 
begin
	select * from VATTU
	inner join DANHMUC on VATTU.MADANHMUC = DANHMUC.MADANHMUC
	where (DANHMUC.TENDANHMUC like '%' + @key + '%' or VATTU.TENVATTU like '%' + @key + '%') and VATTU.TRANGTHAI = 1
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TopPhieuMuonToiHanTrongThang]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TopPhieuMuonToiHanTrongThang] @num int, @m int, @y int
as
begin
	set ROWCOUNT @num
	select *
	from PHIEUMUON
	where MONTH(NGAYTRA)=@m AND YEAR(NGAYTRA)=@y AND MATRANGTHAI in (4, 2) --Khác phiếu sai,phiếu hoàn thành và phiếu huỷ
	order by NGAYTRA 
end
GO
/****** Object:  Trigger [dbo].[tr_tinh_tong_tien_cho_phieu_nhap]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[tr_tinh_tong_tien_cho_phieu_nhap] on [dbo].[CHITIETPHIEUNHAP]
for insert
as
begin
	declare @maphieunhap int, @tongtien bigint
	select @maphieunhap = MAPHIEUNHAP from inserted

	select @tongtien=sum(SOLUONG*GIATHANH)
	from inserted
	group by MAVATTU
		
	update PHIEUNHAP set TONGTIEN=@tongtien where MAPHIEUNHAP=@maphieunhap
end
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] DISABLE TRIGGER [tr_tinh_tong_tien_cho_phieu_nhap]
GO
/****** Object:  Trigger [dbo].[tr_update_trang_thai_nhan_vien]    Script Date: 21/06/2022 15:28:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE trigger [dbo].[tr_update_trang_thai_nhan_vien] on [dbo].[NHANVIEN]
after update
as
begin
	declare @manv int, @tt bit
	select @manv=MANHANVIEN, @tt=TRANGTHAI from inserted
	if update(TRANGTHAI) and  @tt='false'
	update TAIKHOAN set TRANGTHAI='false' where MANHANVIEN=@manv
end
GO
ALTER TABLE [dbo].[NHANVIEN] ENABLE TRIGGER [tr_update_trang_thai_nhan_vien]
GO
USE [master]
GO
