@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --black3: #d3d3d3;
    --top-bar-height: 60px;
    --nav-width: 300px;
    --fadeIn: fadeIn;
    --fadeOut: fadeOut;
    --mn-height: 40px;
    --mn-card: 50vh;
}

*[id$=errors] {
		color: red;
	}

.custom-scroll-bar::-webkit-scrollbar-track {
    background-color: #fff;
}

.custom-scroll-bar::-webkit-scrollbar,
.custom-scroll-bar::-webkit-scrollbar-thumb {
	color: var(--blue);
	background-color: var(--blue);
    border-radius: 50px;
    width: 5px;
}

/* MODAL */

.form {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.form.form--password {
	display: flex;
	padding: 20px 40px;
}

input[type='checkbox'] {
    width: unset;
    outline: none;
}
label.form__input-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
}

.form__input:focus:not([type='checkbox']) {
    outline-color: var(--blue);
    border-color: transparent;
}
.form__input-checkbox > p {
    margin-right: 8px;
}
.form__input {
    outline: 1px solid transparent;
    border-radius: 5px;
    padding-block: 8px;
    border: 1px solid var(--black2);
    transition: outline-color 200ms, border-color 200ms;
    width: 100%;
}
.card {
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: background-color 200ms, color 200ms;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgb(0 0 0 / 50%);
    z-index: 10000;
}

input::placeholder,
textarea::placeholder {
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Poppins';
}

.modal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    width: 40%;
    margin: auto;
    padding: 16px 24px;
}

.dialog {
    z-index: 10001;
    position: fixed;
    top: 25%;
    height: 25%;
    margin: auto;
    padding: 16px 32px;
}

.dialog__title {
    font-weight: 600;
    color: var(--blue);
    transform: translateX(-8px);
}

.dialog__message {
    margin-block: 12px;
    font-size: 16px;
}

.dialog__control {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card--hover:hover {
    cursor: pointer;
    background-color: var(--blue);
    color: #fff;
}

.form__title {
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--blue);
    letter-spacing: 4px;
}
.form__title + span {
	margin: 0 0 8px 12px;
	align-self: flex-start;
	font-size: 14px;
}

.form__item--action {
    margin-top: 12px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form--password > .form__item--action {
    width: 25%;
    margin-left: auto;
}

.form__item {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.form__item--password > label + label {
	margin-left: 32px;
}
.form__item--tasks-for-shift {
	display: flex;
	align-items: center;
}
.form__item--tasks-for-shift > label:nth-child(2) {
	margin-left: 12px;
}
.form__item--employee > label:first-child {
	margin-right: 12px;
}
.form__item-change-emp > label,
.form__item-evaluation  > label {
	display: flex;
    align-items: center;
}
.form__item-evaluation > label > span {
	width: 50%;
	font-size: 18px;
}
.form__item > label {
    font-size: 16px;
    width: 100%;
}
.form__item-change-emp > label > span {
	width: 70%;
	font-size: 18px;
}

.btn--customize {
    outline: none;
    text-decoration: none;
    border: 1px solid currentColor;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 14px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: color 200ms, background-color 200ms;
    min-width: 50px;
    min-height: 30px;
    line-height: 20px;
}

.btn--gen-time-table {
    width: 30%;
    text-align: center;
    margin-left: 50px;
}

.btn--customize + .btn--customize {
    margin-left: 12px;
}

.btn-confirm {
    color: var(--blue);
    text-align: center;
}
.btn-confirm.tasks {
	margin-left: auto;
}
.btn-confirm:hover {
    color: #fff;
    background-color: var(--blue);
}
.btn-cancel,
.btn--warning {
    color: salmon;
}

.btn-cancel:hover,
.btn--warning:hover {
    color: #fff;
    background-color: salmon;
}

.btn--safe {
    color: var(--blue);
}

.btn--safe:hover {
    color: #fff;
    background-color: var(--blue);
}

select {
    box-shadow: none;
    background: transparent;
    background-image: none;
    border: 1px solid var(--black2);
    outline: 1px solid transparent;
    border-radius: 5px;
    flex: 1;
    padding-inline: 20px;
    color: var(--black1);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins';
    max-height: 60px;
}
.select {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 3;
    background: #fff;
    border-radius: 5px;
}
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: var(--blue);
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
    color: white;
    height: 100%;
    border-radius: 0 5px 5px 0;
    line-height: 2.5;
}
.select.disabled::after {
	content: '\25BC';
	background-color: #e3e3e3;
	cursor: not-allowed;
}
select:disabled {
	cursor: not-allowed;
}
.select:not(.disabled):hover::after {
    color: Gainsboro;
}

input {
    font-size: 16px;
    font-family: 'Poppins';
    width: unset;
    padding: 4px 16px;
    width: 100%;
    outline: 1px solid transparent;
    border-radius: 3px;
    border: 1px solid var(--black2);
    transition: outline-color 200ms, border-color 200ms;
}

textarea {
    padding: 4px 16px;
    font-family:'Poppins' !important;
    font-size: 16px;
}

select:focus,
input:focus,
textarea:focus {
    border-color: transparent;
    outline-color: var(--blue);
    font-weight: 600;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media only screen and (max-width: 750px) {
	.topbar {
		width: 100%;
	}
}

.chart {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 1000ms linear;
}
.loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite
      }
      .loader::before , .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #ccc;
        animation: prixClipFix 2s linear infinite ;
      }
      .loader::after{
        border-color: var(--blue);
        animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
        inset: 6px;
      }

      @keyframes rotate {
        0%   {transform: rotate(0deg)}
        100%   {transform: rotate(360deg)}
      }

      @keyframes prixClipFix {
          0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
          25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
          50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
          75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
          100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
      }