<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
			 xmlns:beans="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security.xsd">

    <http use-expressions="true">
        <csrf disabled="true"/>

<!--		<intercept-url pattern="/manager/**" access="hasRole('ROLE_Manager')" />-->
<!--        <intercept-url pattern="/leader/**" access="hasRole('ROLE_Leader')" />-->
<!--        <intercept-url pattern="/employee/**" access="hasRole('ROLE_Employee')" />-->
<!--        <intercept-url pattern="/password.htm" access="hasAnyRole('ROLE_Manager', 'ROLE_Leader', 'ROLE_Employee')" />-->
<!--        <intercept-url pattern="/setting.htm" access="hasAnyRole('ROLE_Manager', 'ROLE_Leader', 'ROLE_Employee')" />-->
<!--        <intercept-url pattern="/favicon.ico" access="permitAll" />-->
			<!-- Quản lý - ROLE_1; Nhân viên ROLE_2 -->
		<intercept-url pattern="/quanly/**" access="hasRole('ROLE_QUANLY')" />
		<intercept-url pattern="/nhanvien/**" access="hasRole('ROLE_NHANVIEN')" />
		<intercept-url pattern="/test.htm" access="permitAll()" />
        <access-denied-handler error-page="/403" />
        

        <form-login login-page='/' login-processing-url="/j_spring_security_check"
            default-target-url="/index.htm" always-use-default-target="true"
            authentication-failure-url="/login.htm?error=true" username-parameter="username"
            password-parameter="password"
            authentication-success-handler-ref="mySuccess" />

        <logout logout-url="/logout" 
        	logout-success-url="/"
            delete-cookies="JSESSIONID" invalidate-session="true" />
    </http>

	<!-- Test user -->
    <authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="user1@gmail.com" password="12345" authorities="ROLE_2" />
				<user name="admin1@gmail.com" password="12345" authorities="ROLE_1" />
			</user-service>
		</authentication-provider>

		<!-- authentication from database -->
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="SELECT EMAIL, MATKHAU, TRANGTHAI FROM TAIKHOAN WHERE TRANGTHAI = 1 AND EMAIL=?"
				authorities-by-username-query="SELECT EMAIL, TENVAITRO=CONCAT('ROLE_', TENVAITRO) FROM VAITRO VT INNER JOIN
				 TAIKHOAN TK ON TK.MAVAITRO = VT.MAVAITRO WHERE TRANGTHAI = 1 AND EMAIL=?"
			/>
			<password-encoder hash="bcrypt" />
		</authentication-provider>

	</authentication-manager>
</beans:beans>